# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

# Uploads: keep folder, ignore uploaded files
static/uploads/*
!static/uploads/.gitkeep

# Test images
test_images/*
!test_images/.gitkeep

# Local ML models (do not commit)
#*_classifier.keras
